<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vteba.tianxun.comment.dao.CommentDao" >
  <resultMap id="commentResultMap" type="com.vteba.tianxun.comment.model.Comment" >
    <!--
      WARNING - 结果集映射，不含Blob字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="comment_date" property="commentDate" jdbcType="TIMESTAMP" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="answer_id" property="answerId" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - 该表所有字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    id, content, user_id, nick_name, comment_date, question_id, answer_id, orders, state
  </sql>
  <sql id="model_where_clause" >
    <!--
      WARNING - 根据model条件，查询或更新的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <trim prefixOverrides="and" >
        <if test="content != null" >
          and content = #{content,jdbcType=VARCHAR}
        </if>
        <if test="userId != null" >
          and user_id = #{userId,jdbcType=VARCHAR}
        </if>
        <if test="nickName != null" >
          and nick_name = #{nickName,jdbcType=VARCHAR}
        </if>
        <if test="commentDate != null" >
          and comment_date = #{commentDate,jdbcType=TIMESTAMP}
        </if>
        <if test="questionId != null" >
          and question_id = #{questionId,jdbcType=VARCHAR}
        </if>
        <if test="answerId != null" >
          and answer_id = #{answerId,jdbcType=VARCHAR}
        </if>
        <if test="orders != null" >
          and orders = #{orders,jdbcType=INTEGER}
        </if>
        <if test="state != null" >
          and state = #{state,jdbcType=INTEGER}
        </if>
      </trim>
    </where>
    <if test="orderBy != null" >
      order by ${orderBy}
    </if>
    <if test="start != null" >
      limit ${start}, ${pageSize}
    </if>
  </sql>
  <sql id="update_model_where_clause" >
    <!--
      WARNING - 根据model条件，更新的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <trim prefixOverrides="and" >
        <if test="params.content != null" >
          and content = #{params.content,jdbcType=VARCHAR}
        </if>
        <if test="params.userId != null" >
          and user_id = #{params.userId,jdbcType=VARCHAR}
        </if>
        <if test="params.nickName != null" >
          and nick_name = #{params.nickName,jdbcType=VARCHAR}
        </if>
        <if test="params.commentDate != null" >
          and comment_date = #{params.commentDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.questionId != null" >
          and question_id = #{params.questionId,jdbcType=VARCHAR}
        </if>
        <if test="params.answerId != null" >
          and answer_id = #{params.answerId,jdbcType=VARCHAR}
        </if>
        <if test="params.orders != null" >
          and orders = #{params.orders,jdbcType=INTEGER}
        </if>
        <if test="params.state != null" >
          and state = #{params.state,jdbcType=INTEGER}
        </if>
      </trim>
    </where>
  </sql>
  <select id="queryList" resultMap="commentResultMap" parameterType="com.vteba.tianxun.comment.model.Comment" >
    <!--
      WARNING - 根据params所携带条件查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="pagedList" resultMap="commentResultMap" parameterType="com.vteba.tianxun.comment.model.Comment" >
    <!--
      WARNING - 根据params所携带条件分页查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="get" resultMap="commentResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - 根据主键查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getForUpdate" resultMap="commentResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - 根据主键查询数据，使用 for update 悲观锁。
      MyBatis代码工具自动生成，不要修改！
    -->
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=VARCHAR} for update
  </select>
  <select id="unique" resultMap="commentResultMap" parameterType="com.vteba.tianxun.comment.model.Comment" >
    <!--
      WARNING - 根据params所携带条件查询唯一记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="uniqueForUpdate" resultMap="commentResultMap" parameterType="com.vteba.tianxun.comment.model.Comment" >
    <!--
      WARNING - 根据params所携带条件查询唯一记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
     for update
  </select>
  <delete id="deleteById" parameterType="java.lang.String" >
    <!--
      WARNING - 根据主键删除记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteBulks" parameterType="com.vteba.tianxun.comment.model.Comment" >
    <!--
      WARNING - 根据params所携带条件删除数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from comment
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </delete>
  <insert id="save" parameterType="com.vteba.tianxun.comment.model.Comment" >
    <!--
      WARNING - 插入记录，只有非空字段才会插入到数据库。
      MyBatis代码工具自动生成，不要修改！
    -->
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="commentDate != null" >
        comment_date,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="answerId != null" >
        answer_id,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="commentDate != null" >
        #{commentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="answerId != null" >
        #{answerId,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countBy" parameterType="com.vteba.tianxun.comment.model.Comment" resultType="java.lang.Integer" >
    <!--
      WARNING - 根据params所携带条件计数。
      MyBatis代码工具自动生成，不要修改！
    -->
    select count(*) from comment
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <update id="updateBulks" parameterType="map" >
    <!--
      WARNING - 根据params所携带条件更新指定字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    update comment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.nickName != null" >
        nick_name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.commentDate != null" >
        comment_date = #{record.commentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.questionId != null" >
        question_id = #{record.questionId,jdbcType=VARCHAR},
      </if>
      <if test="record.answerId != null" >
        answer_id = #{record.answerId,jdbcType=VARCHAR},
      </if>
      <if test="record.orders != null" >
        orders = #{record.orders,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="update_model_where_clause" />
    </if>
  </update>
  <update id="updateById" parameterType="com.vteba.tianxun.comment.model.Comment" >
    <!--
      WARNING - 根据主键更新指定字段的数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    update comment
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="commentDate != null" >
        comment_date = #{commentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="answerId != null" >
        answer_id = #{answerId,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>